---
layout: default
---
<article class="post container markdown-body">
  <div class="post-meta">
    <span class="post-meta-span date">{{ page.date | date:"%Y-%m-%d" }}</span>
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</article>

<!-- <div class="post-share">
  <div class="container">
    <a href="https://twitter.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&text={{ page.title }}" target="_blank" class="post-share-icon twitter"></a>
    <a href="https://www.evernote.com/clip.action?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon evernote"></a>
    <a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon weibo"></a>
  </div>
</div> -->

{% if site.disqus.shortname %}
<div class="comment container">
  <div id="disqus_thread">
  </div>
</div>
{% endif %}

{% if page.layout == 'post' %}
<div class="comment container">
  <!--PC版-->
  <!--<div id="SOHUCS" sid="{{ page.title }}"></div>
  <script src="{{ "/assets/js/jquery-2.1.3.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript">
    if ($("#SOHUCS").length > 0) {
      window.changyan = undefined;
      window.cyan = undefined;
      $.getScript("https://changyan.sohu.com/upload/changyan.js", function () { window.changyan.api.config({ appid: "cytkpya3a", conf: "prod_6a865b7e9e8d4fce0351a3c3c3402ce8" }); });
    };
  </script> -->

  <div id="container-comment"></div>
  <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
    var gitment = new Gitment({
      id: '{{ page.id }}',
      owner: 'sslf',
      repo: 'sslf.github.io',
      oauth: {
        client_id: '76c17d044e0fef278057',
        client_secret: '0f102766c5ee9762bcac14d9a33e01d0d4ddafdb',
      },
    });
    gitment.render('container-comment');
  </script>
</div>
{% endif %}